body{
  padding-bottom: 20px;
}

input, select {
  border-radius: 5px;
  border: 1px solid #333;
  background: white;
  padding: 2px 5px;
}

button.is-link{
  border: none;
  background: none;
  color: #2780e3;
  text-decoration: underline;
  cursor: pointer;
}
